<p>
  log-in Funciona !
</p>
<h3>Usuario: {{ (usuarioLogueado | async)?.nombre  }} </h3>
<form class="container text-center" style="max-width:640px" [formGroup]="validarFormulario" (ngSubmit)="onSubmit()" novalidate>
  <div class="sombra titulo-formulario mb-2 py-2">
    Autenticarse
  </div>
  <div class="sombra py-4 px-3">
    <div>
      <button mat-button color="primary" type="submit" [disabled]="!estadoFormulario" >Validar</button>
      <button mat-button color="primary"type="reset" (click)="revert()" >Cancelar</button>
    </div>
    <div class="row">
      <mat-form-field class="campo col-12 col-sm-6">
        <input type="email" matInput placeholder="Correo" formControlName="correo">
        <mat-error *ngIf="erroresFormulario.correo">
          {{ erroresFormulario.correo }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="campo col-12 col-sm-6">
        <input type="password" matInput placeholder="Clave" formControlName="clave">
        <mat-error *ngIf="erroresFormulario.clave">
          {{ erroresFormulario.clave }}
        </mat-error>
      </mat-form-field>      
    </div>
    <a class="hipervinculo" routerLink="/usuario" routerLinkActive="active">¿Desea registrarse?</a>        
  </div>  
</form>
<p>Form value: {{ validarFormulario.value | json }}</p>
<p>Form status: {{ validarFormulario.status | json }}</p>
<p>Contenido validador: {{validador | json}}</p>
