<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>{{mensaje.subCategoria.categoria.nombre}}</mat-card-title>
    <mat-card-subtitle>{{mensaje.subCategoria.nombre}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/infinito.jpg" alt="Infinito">
  <mat-card-content>
    <p>
      {{mensaje.contenido}}
    </p> 
  </mat-card-content>
  <mat-card-actions class="text-center">
    <div *ngIf="general === 'false'" >
        <button mat-button>Re Publicar</button>
        <button mat-button>Borrar</button>
    </div>      
  </mat-card-actions>
  <mat-card-footer class="text-center">
    <div *ngIf="general === 'true'">
      <strong>{{mensaje.usuario.telefono | telefono}}</strong>
    </div>
    <div class="mb-2">
      publicacion: <strong>{{mensaje.creacion | date:'mediumDate':'':'es-VE'}}</strong>        
    </div>
  </mat-card-footer>
</mat-card>