<h3>
    formulario-validacion works! Anfitrion: {{anfitrion}}
  </h3>
  
  <form class="container text-center" style="max-width:640px" [formGroup]="formularioValidacion" (ngSubmit)="onSubmit()" novalidate>
    <div class="sombra titulo-formulario mb-2 py-2">
      Formulario de Validación
    </div>
    <div class="sombra py-4 px-3">
      <div class="row">
        <mat-form-field class="campo col-12 col-sm-6">
          <input matInput placeholder="Correo" formControlName="correo">
          <mat-error *ngIf="erroresFormulario.correo">
            {{ erroresFormulario.correo }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="campo col-12 col-sm-6">
          <input matInput placeholder="Repetir correo" formControlName="correo_repetir">
          <mat-error *ngIf="erroresFormulario.correo_repetir">
            {{ erroresFormulario.correo_repetir }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="campo col-12 col-sm-6">
          <input type="password" matInput placeholder="Clave" formControlName="clave">
          <mat-error *ngIf="erroresFormulario.clave">
            {{ erroresFormulario.clave }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="campo col-12 col-sm-6">
          <input type="password" matInput placeholder="Repetir clave" formControlName="clave_repetir">
          <mat-error *ngIf="erroresFormulario.clave_repetir">
            {{ erroresFormulario.clave_repetir }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
          <mat-form-field class="campo">
            <input type="tel" matInput placeholder="Teléfono" formControlName="numero_telefono">
              <mat-error *ngIf="erroresFormulario.numero_telefono">
                {{ erroresFormulario.numero_telefono }}
              </mat-error>
          </mat-form-field>
        </div>
      </div>
        
      <div class="row">
        <div class="col"></div>
        <div class="col">
            <div style="border: 1px solid red; background-color: yellow; text-align:center" id="recaptcha-container"></div>  
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="campo col mt-3 text-center">
            <button mat-raised-button type="button" color="primary" (click)="enviarCodigo()" [disabled]= "deshabilitarEnviarCod"  >
              Enviar código 
            </button>
        </div>
      </div>
        
      <div class="row justify-content-center" *ngIf="windowRef.confirmationResult">
        <div class="col-12 col-sm-6">
          <mat-form-field class="campo col">
            <input matInput placeholder="Código" formControlName="codigo_validacion">
              <mat-error *ngIf="erroresFormulario.codigo_validacion">
                {{ erroresFormulario.codigo_validacion }}
              </mat-error>
          </mat-form-field>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
        <!--
        <button mat-button color="primary" type="submit" [disabled]="!estadoFormulario" >Validar</button>
        -->
          <button mat-button color="primary" type="submit" >Validar</button>
          <button mat-button color="primary" type="reset" (click)="revert()" >Cancelar</button>
        </div>
      </div>    
    </div>
  
  <!--
    <button type="submit"
    [disabled]="heroForm.pristine" class="btn btn-success">Save</button>
  -->
  
  </form>
  <div *ngIf="usuarioValidador">
    Logueo satisfactorio con su phone number!
    UserId: {{ usuarioValidador?.uid }}
  </div>
  <!--
  <p>Confirmacion Result: {{ windowRef?.confirmationResult | json }}</p>
  -->
  <p>Form value: {{ formularioValidacion.value | json }}</p>
  <p>Form status: {{ formularioValidacion.status | json }}</p>
  
  