<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
  </button>
  {{title}}
  <span class="espacio"></span>
  <span class="usuario fuente_usuario">Usuario: {{ (usuarioLogueado | async)?.nombre }}</span>
</mat-toolbar>
<mat-sidenav-container class="contenedor">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close(); mostrarSubMenu(1)" routerLink="/categoria" routerLinkActive="active">Clasificados</a>
      <a mat-list-item (click)="sidenav.close(); mostrarSubMenu(1)" routerLink="/misclasificados" routerLinkActive="active">Mis Clasificados</a>
      <a mat-list-item class="auxiliar" (click)="mostrarSubMenu()" routerLink="/" routerLinkActive="active">Usuario</a>
      <div *ngIf="subMenuUsuario" [@subMenuUsuario] = "'entrada'" class="sub-menu">
        <a mat-list-item (click)="sidenav.close()" routerLink="/login" routerLinkActive="active">LogIn</a>
        <a mat-list-item routerLink="/" routerLinkActive="active" >LogOut</a>
        <a mat-list-item (click)="sidenav.close()" routerLink="/usuario/validar" routerLinkActive="active" >Registrar</a>
        <a mat-list-item *ngIf="nombreUsuario" [matMenuTriggerFor]="menuEditar" >Editar</a>
        <mat-menu #menuEditar="matMenu" xPosition="before">
          <mat-nav-list>
            <a mat-list-item (click)="sidenav.close(); mostrarSubMenu()" routerLink="/usuario/modi-clave" routerLinkActive="active"> Modificar clave </a>
            <a mat-list-item (click)="sidenav.close(); mostrarSubMenu()" routerLink="/usuario/modi-tel" routerLinkActive="active"> Modificar telefono </a>
            <a mat-list-item (click)="sidenav.close(); mostrarSubMenu()" routerLink="/usuario/modi-datos" routerLinkActive="active"> Modificar datos </a>
            <a mat-list-item (click)="sidenav.close(); mostrarSubMenu()"> Volver </a>
          </mat-nav-list>
        </mat-menu>
      </div>
    </mat-nav-list>
  </mat-sidenav>
    contenido primario
  
    <router-outlet></router-outlet>
    
    
</mat-sidenav-container>