.contenedor {
    height: 100%;
    width: 100%;
}

mat-sidenav {
    width: 200px;
    height: 80%;    
}

.submenu {
    margin-left: 2rem;
}
.espacio {
    flex: 1 1 auto;
}

.usuario {
    width: 7rem;
}

.fuente_usuario {
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
}

.sub-menu{
    overflow: hidden;
    margin-left: 1rem;
}