<form class="container text-center" style="max-width:640px" [formGroup]="formularioPublicar" (ngSubmit)="onSubmit()" novalidate>
  <div class="sombra titulo-formulario mb-2 py-2">
    Formulario de Registro
  </div>
  <div class="sombra py-4 px-3">
    <div class="row justify-content-around">
      <mat-form-field class="campo col-12 col-sm-6 col-md-4">
        <mat-select  placeholder="Categoría" formControlName="categoria" (change)="llenarSubCategorias()">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
            {{categoria.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="campo col-12 col-sm-6 col-md-4">
        <mat-select  placeholder="SubCategoría" formControlName="subCategoria" >
          <mat-option *ngFor="let subCategoria of subCategorias" [value]="subCategoria.idSubCategoria">
            {{subCategoria.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="campo col col-sm-6 mx-auto">
        <input matInput placeholder="Mensaje" formControlName="mensaje">
        <mat-error *ngIf="erroresFormulario.mensaje">
          {{ erroresFormulario.mensaje }}
        </mat-error>
      </mat-form-field>
    </div>
        
      <div>
        <button mat-button [disabled]="!estadoFormulario" (click)="publicar()">Publicar</button>
        <button mat-button mat-dialog-close>Cancelar</button>
      </div>
      
  </div>



<!-- <div class="container text-center" style="max-width:640px">
  <h2 class="sombra titulo-formulario mb-2 py-2" mat-dialog-title>Publicar Aviso</h2>
  <mat-dialog-content>
    <form  [formGroup]="formularioPublicar" novalidate>
      <div class="sombra py-4 px-3" style="height:300px">
        <div class="row justify-content-around">
          <mat-form-field class="campo col col-sm-6 col-md-4">
            <mat-select  placeholder="Categoría" formControlName="categoria" (change)="llenarSubCategorias()">
              <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
                {{categoria.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="campo col col-sm-6 col-md-4">
            <mat-select  placeholder="SubCategoría" formControlName="subCategoria" >
              <mat-option *ngFor="let subCategoria of subCategorias" [value]="subCategoria.idSubCategoria">
                {{subCategoria.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="campo col col-sm-6 mx-auto">
            <input matInput placeholder="Mensaje" formControlName="mensaje">
            <mat-error *ngIf="erroresFormulario.mensaje">
              {{ erroresFormulario.mensaje }}
            </mat-error>
          </mat-form-field>
        </div>      
      </div>
    </form>
  </mat-dialog-content>  
  <mat-dialog-actions>
      <button mat-button [disabled]="!estadoFormulario" (click)="publicar()">Publicar</button>
      <button mat-button mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</div> -->

  
